{% extends 'base.html.twig' %}

{% block title %}Accès protégé{% endblock %}

{% block body %}
<div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
        </div>
    <h1>Accès protégé</h1>

    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
</div>
{% endblock %}
