body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
    margin-bottom: 10px;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 6%;
}
.contact-form form .row{
    margin-bottom: 15px;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    display: flex;
    width: 9rem;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.htmx-indicator {
    width: 40px;
    height: 40px;
}

.response-list {
    margin-bottom: 30px;
}

.tv-frame {
    position: relative;
    width: 560px;
    height: 315px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

.tv-frame::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    background-color: #000;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
}

.tv-frame::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
}

.youtube-video-container iframe {
    position: absolute;
    top: 10px;
    left: 0;
}
